# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBsLYuXCqlyQX6u4pn90ncQ62C-3i9s2Rk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=service-buddy-d2fd2.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=service-buddy-d2fd2
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=service-buddy-d2fd2.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=29175703468
NEXT_PUBLIC_FIREBASE_APP_ID=1:29175703468:web:8863f99e82b776c5c7fc09

# Firebase Admin (Service Account)
# Generate a new private key from Project Settings > Service accounts
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Razorpay Configuration
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_Rk27cPh7o9yPTj
RAZORPAY_KEY_SECRET=kX5wmG1rqnItqUEkORlDY1P2
